<script>
	import Image from './Image.svelte';
	import Button from './Button.svelte';
	export let name;
	
	let btnState = false;

	const handleClick = () => {
		btnState = !btnState;
		console.log("handling click!", btnState);
	}
</script>

<style>
	h1 {
		color: purple;
	}
</style>

<h1>Hello {name}!</h1>
<Button isActive={btnState} handleClick={handleClick}/>
<Image source="http://picsum.photos/1200/600" />
